.boxBorder {     
    border: 1px solid #d64000;
}  
 body {
     background-color: #10151a;
 } 
  p {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 0.9em;
    font-variant: small-caps;
    color: #000001;
    letter-spacing: 2px;
  }

  h1 {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 2em;
    font-variant: small-caps;
    color:#d6541c;
    letter-spacing: 5px;
}

h2 {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 1.4em;
    font-variant: small-caps;
    color: #485d69;
}

h3 {
    font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
    font-size: 0.8em;
    font-variant: small-caps;
    color: #000001;
    letter-spacing: 2px;
}

.navbar {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 15px;
    display: flex;
    justify-content:space-around;
    align-content: center;
  }

  .navbar a {
      opacity: 1;
      width: 175px;
      font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
      font-size: 1em;
      font-variant: small-caps;
      color: rgb(255, 102, 0);
      text-decoration: none;
      text-align: center;
      letter-spacing: 3px;
  }

  .navbar a:hover {
    text-decoration: line-through;
    font-size: 1.1em;
  }

  .navbar a:active {
      opacity: 0;
  }

.mainContainer {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 80px 1fr 20px;
    height: 100vh;
}

.contMidden { 
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 2 /3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titel {
    padding: 15px;
    width: 50%;
    background-color: #23303a;
}

.tekst {
    padding: 15px;
    width: 50%;
    background-color: #eb8a3a;
}

.meerInfo {
    padding: 15px;
    width: 50%;
    background-color: #d6541c;    
}

#shutter {
    transform: translateY(-100vh);
    transition: 0.5s;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #10151a;
    border-bottom: 1px solid #d64000;
}