html { 
    background: url(images/cover_2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    overflow: hidden;
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content:space-around;
    align-content: center;
  }

  .navbar a {
      width: 175px;
      font-family: "Trebuchet MS",Trebuchet,Verdana,Sans-Serif;
      font-size: 1em;
      font-variant: small-caps;
      color: rgb(255, 102, 0);
      text-decoration: none;
      text-align: center;
      letter-spacing: 3px;
  }

  .navbar a:hover {
    background: rgb(255, 102, 0);
    color: black;
  }



